<div class="jumbotron">
  <div class="clock">A counting-down clock</div>
  <p class="lead">
    <!--img src="images/yeoman.png" alt="I'm Yeoman"-->
  </p>
  <button class="btn btn-primary">Start</button>
  <button class="btn btn-danger">Stop</button>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-3 col-sm-offset-1 spacer-top">
    <input class="new-task form-control" type="text" placeholder="what are you going to do?" ng-model="newTaskText"/>
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 spacer-top">
    <button id="btnAdd" class="btn btn-primary btn-small" ng-click="createNewTask()">Add</button>
  </div>

</div>

<div class="row marketing" ng-keyup="handleKeys($event)">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h4>PLANNED</h4>
      <div class="task-list task-planned" ng-click="isselected=!isselected" ng-class="isselected ? 'task-selected' : 'task'" ng-repeat="task in tasks.planned">
        <span data-task-id="{{task.id}}">{{task.title}}</span>
      </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h4>DONE</h4>
      <div class="task-list task-done" ng-repeat="task in tasks.done">
        <span data-task-id="{{task.id}}">{{task.title}}</span>
      </div>
  </div>
</div>

