<div class="jumbotron">
  <div class="clock">A counting-down clock</div>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman">
  </p>
</div>

<div class="row marketing">
  <div class="col-sm-6">
    <h4>Planned</h4>
    <ul class="board">
      <li class="board">task 1</li>
      <li class="board">task 2</li>
    </ul>
  
  </div>

  <div class="col-sm-6">
      <h4>Done</h4>
      <ul class="board">
        <li class="board">task 3</li>
        <li class="board">task 4</li>
    </ul>

  </div>
  
</div>
